<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timmyg.librariescourse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Lesson3.LambdaRxActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Lesson2.RxJava.RxActivity">

        </activity>
        <activity android:name=".Lesson2.Observer.ObserverActivity"></activity>
        <activity android:name=".Lesson2.AsyncTask.AsyncTaskActivity" />
        <activity android:name=".MainMoxyActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>