<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timmyg.librariescourse">

    <application
        android:name=".lesson7.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".lesson7.view.RetrofitDaggerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Lesson6.dagger.DaggerActivity" />
        <activity android:name=".Lesson6.DiActivity">

        </activity>
        <activity android:name=".Lesson6.NoDIActivity" />
        <activity android:name=".Lesson5.RoomActivity" />
        <activity android:name=".Lesson4.Retrofit.RetrofitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Lesson4.GSON.GsonActivity" />
        <activity android:name=".Lesson3.LambdaRxActivity" />
        <activity android:name=".Lesson2.RxJava.RxActivity" />
        <activity android:name=".Lesson2.Observer.ObserverActivity" />
        <activity android:name=".Lesson2.AsyncTask.AsyncTaskActivity" />
        <activity android:name=".MainMoxyActivity" />
        <activity android:name=".MainActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>